*.DS_Store
/interactive/static/bower_components/*
/interactive/static/node_modules/*

/interactive/static2/bower_components/*
/interactive/static2/node_modules/*

/interactive/cached_data/*
# Don't ignore dataset used in tour.
!/interactive/cached_data/a118a224p10p28l1000.json
!/interactive/cached_data/a118a224p10p28l1000-theory.json
!/interactive/cached_data/a118a224p10p28l1000-top 1.json
!/interactive/cached_data/a118a224p10p28l1000-top 5%.json
!/interactive/cached_data/a118a224p10p28l1000-top 15%.json

/interactive/data.pyc