<!DOCTYPE html>
<html>
  <head>
    <title>When is The Right Time to Settle Down?</title>
    <meta charset="utf-8">
    <meta property="og:title" content="When is The Right Time to Settle Down?" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://mathoflove.teguhwijaya.com" />
    <meta property="og:image" content="{{ url_for('static', filename='images/screenshot.PNG', _external=True) }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">

    <script src="{{ url_for('static', filename='bower_components/jquery/dist/jquery.min.js') }}"></script>
    <!--
    No need to load what we don't use.
    <script src="{{ url_for('static', filename='bower_components/foundation/js/foundation.min.js') }}"></script>
    -->
    <script src="{{ url_for('static', filename='bower_components/underscore/underscore-min.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/knockout/dist/knockout.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/d3/d3.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/d3-tip/d3-tip.js') }}"></script>
    <script src="{{ url_for('static', filename='js/d3-slider/d3.slider.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-tour/my-bootstrap-tour-standalone.js') }}"></script>
  </head>
  <body>
    <header class="row">
      <div class="small-12 columns">
        <img class="main_image" src="{{ url_for('static', filename='images/screenshot.PNG') }}" title="When is The Right Time to Settle Down?" />
        <h5 class="subheader">The Mathematics of Love</h5>
        <h1>When is The Right Time to Settle Down?</h1>
        <h4 class="subheader">Proving 37% Rule + Visual Explanation of Optimal Stopping Theory</h4>
        <div class="panel callout radius">
          Hey there! This article is one of my final projects at <a href="http://udacity.com" target="_blank" rel="nofollow">Udacity.com</a> and they need me to collect some feedbacks, so if you could <a href="http://goo.gl/forms/5X3hO6CGFl" target="_blank" rel="nofollow" >answer some questions in this form</a>, that would help me a lot and it will <b>bring you good luck in your love life</b>. 
        </div>
        <p>
          In finding the right partner for the rest of your life, you don't want to keep hoping the next suitor will be better and risk not finding anyone. On the other hand, "cashing in" too quickly may end you up in a suboptimal relationship.
        </p>
        <p>
          What is, then, the right strategy to pass / accept next potential partners with the highest probability to get us the right person with the less risk of failure? Turns out, there's a strategy called <b>the 37% rule</b> where if you reject all 37% of the candidates you met, then accept the next candidate who is better than everybody you rejected, you are most likely to end with the best candidate out of everyone (this problem is called the secretary problem</a> and was well discussed back then).
        </p>
        <p>I got introduced into this idea from the book by <b>Hannah Fry</b> called <a target="_blank" href="https://www.ted.com/read/ted-books/ted-books-library/the-mathematics-of-love">The Mathematics of Love</a>. There are several other interesting insights there, where she framed the very abstract concept of love in the verbosity of Mathematics.
        </p>
        <p>
          For me, what interest me the most is proving this theory using programming. I reproduced the experiment shown in that book where a number of lifetimes with different number of people met and with different compatibilities are simulated, then tried to follow <b>X% rejection strategy</b> to find out what the best <b>X</b> is. 
        </p>
      </div>
    </header>
    <article class="row">
      <div class="small-12 columns">
        <h2>Why 37% ?</h2>
        <p>
          As it turned out, this problem is similar to one of the problems learned in Mathematics called <a target="_blank" href="https://en.wikipedia.org/wiki/Secretary_problem">The secretary problem</a>. The secretary problem is one of many names for a famous problem of the <b>optimal stopping theory</b>. The problem has been studied extensively in the fields of applied probability, statistics, and decision theory.</p>
        <p>The basic form of the problem is the following:</p>
        <ul>
          <li>Imagine an administrator willing to hire the best secretary out of n rankable applicants for a position.</li>
          <li>The applicants are interviewed one by one in random order.</li>
          <li>A decision about each particular applicant is to be made immediately after the interview.</li>
          <li>Once rejected, an applicant cannot be recalled.</li>
          <li>During the interview, the administrator can rank the applicant among all applicants interviewed so far, but is unaware of the quality of yet unseen applicants.</li>
          <li>The decision must be made immediately.</li>
        </ul>
        <p>And to solve this problem, as quoted from <a target="_blank" href="https://en.wikipedia.org/wiki/Secretary_problem">Wikipedia</a>:</p>
        <blockquote>
          <p>The problem has an elegant solution. The optimal stopping rule prescribes always <strong>rejecting the first n/e applicants</strong> after the interview (where e is the base of the natural logarithm) and then <strong>stopping at the first applicant who is better than every applicant interviewed so far</strong> (or continuing to the last applicant if this never occurs). Sometimes this strategy is called the <strong>1/e stopping rule</strong>, because the probability of stopping at the best applicant with this strategy is about <strong>1/e</strong> already for moderate values of <strong>n</strong>.</p>
        </blockquote>
        <p><b>So where did 37% come from?</b> The answer lies in this sentence:</p>
        <blockquote>
        because the probability of stopping at the best applicant with this strategy is about 1/e already for moderate values of n.
        </blockquote>
        <p><i>e</i> is the transcendental number that is the base of Napierian or natural logarithms, approximately equal to <b>2.71828</b>. Thus:</p>
        <pre>
1/e = 1/2.71828
    = 0.3679</pre>
        <p>And <i>that's where <b>37%</b> comes from.</i></p>
      </div>
    </article>
    <article class="row">
      <div class="small-12 columns">
        <h2>The mathematics behind 37% rule</h2>

        <p>The formula for <b>Optimal Stopping</b> is relatively simple:</p>
        <p><img src="{{ url_for('static', filename='images/formula.png') }}" alt="Optimal Stopping formula"></p>
        <p>Where:<p>
        <ul>
          <li>P(r) = Chance that we can find optimal candidate when we rejected r number of candidates.</li>
          <li>n = Number of candidates</li>
          <li>r = Rejected candidates</li>
        </ul>
        <p>For example: With 10 candidates and stopping time at 5th person,</p>
        <div class="row">
          <div class="small-12 medium-7 columns end">
        <pre>
P(5) = 4/10 * (1/4 + 1/5 + 1/6 + 1/7 + 1/8 + 1/9)
     = 0.398</pre>
          </div>
        </div>

        <p>or <b>39.8%</b> chance that we will find best candidate if we follow the strategy.</p>
        <p>From that formula, the optimal value of r can be approximated as <b>1/e</b>. Being able to find That is actually a perk of being good at calculus, which I'm not. In my case, then, instead of proving it mathematically (which you can find in Wikipedia) the only way to prove it is to program it by plotting a scenario of, say, 100 candidates with several stopping times, to see where the largest <b>P(r)</b> is:</p>
        <div id="intro_viz"></div>
        <p>From the above plot it's clear that the optimal value is located around the 37%-ish.</p>
      </div>
    </article>
    <article class="row">
      <div class="small-12 columns">
        <h2>Interactive Simulation of Our Dating Strategy</h2>
        <div class="main_viz" id="main_viz">
          <div id="start_button_container" class="text-center is_active">
            <button data-bind="btn-start">Start The Simulation</button>
          </div>

          <!-- Simulation Analysis -->
          <article id="main_viz-simulation_analysis" data-bind="with: Experiment" class="main_viz-simulation_analysis">
            <div class="main_viz_panel">
              <div class="simulation_analysis-top">
                <h4>Simulation Analysis</h4>
                <div class="row">
                  <div class="small-6 medium-3 column">
                    <label class="right">Total Lifetimes:</label>
                  </div>
                  <div class="small-6 medium-9 column">
                    <span data-bind="text: lifetimes" class=""></span>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <a class="toplinks" data-bind="click: $parent.viewGenerateDataset" href="#">Generate Different Dataset</a>
                    &nbsp;&nbsp;|&nbsp;&nbsp;
                    <a id="sa-view_generated_dataset" class="toplinks" data-bind="click: $parent.viewGeneratedDataset" href="#">View Generated Dataset</a>
                  </div>
                </div>
                <div class="row">
                  <div class="small-12 medium-3 column">
                    <label class="inline right">Goals:</label>
                  </div>
                  <div class="small-12 medium-9 class="" olumn">
                    <div class="goals" data-bind="foreach: goals">
                      <div data-bind="event: { mouseenter: showMenu, mouseleave: hideMenu }" class="goal_area">
                        <div data-bind="css: getClass" class="goal_box"></div>
                        <div data-bind="text: name" class="goal_text">Top 1</div>
                        <div data-bind="if: destructible" class="remove_goal_area">
                          <a data-bind="click: remove" href="#">x</a>
                        </div>
                      </div>
                    </div>
                    <div class="add_goal_area">
                      <div id="sa-hidden_inputs" class="hidden_inputs">
                        <div>
                          <input type="text" placeholder="10" />
                          <select>
                            <option value="%">percent</option>
                            <option value="">candidates</option>
                          </select>
                          <a data-bind="click: cancelAddGoal" href="#" class="cancel">x</a>
                        </div>
                      </div>
                      <button id="sa-add_goal" data-bind="click: addGoal" class="tiny add_goal">Add</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="simulation_analysis-content">
                <div id="simulation_analysis-plot_area"></div>
                <div data-bind="with: $parent.CurrentDetail, style: {top: $parent.CurrentDetail.window_top, left: $parent.CurrentDetail.window_left}" class="tooltip" id="detail_window">
                  <div class="top_area text-right">
                    <a data-bind="click: closeDetailWindow" href="#">x</a>
                  </div>
                  <ul>  
                    <li><span class="sa-rejection_phase">Rejection Phase:</span><span data-bind="text: rejection_phase" class="goal-value"></li>
                  </ul>
                  <ul data-bind="foreach: goals">
                    <li><div data-bind="css: getClass" class="goal_box"></div><span data-bind="text: name" class="goal-name"></span><span data-bind="text: success_rate_percent" class="goal-value"></span></li>
                  </ul>
                  <div class="bottom_area">
                    <button data-bind="click: $root.viewDetail" class="tiny">More Detail</button>
                  </div>
                  <div class="nub"></div>
                </div>
              </div>
            </div>
          </article>

          <!-- Generate Dataset -->
          <article id="main_viz-generate" data-bind="with: Generator" class="main_viz_panel main_viz-generate">
            <form data-bind="submit: submitGenerateForm">
              <h4 class="small-only-text-center">Generate Dataset</h4>
              <div class="row">
                <div class="small-9 medium-4 columns">
                  <label for="a1" class="inline right">Start dating from age</label>
                  <small data-bind="text: ageErrorText, style: {opacity: a1Error() ? 1: 0}" class="error"></small>
                </div>
                <div class="small-3 medium-1 columns">
                  <input id="a1" data-bind="value: a1, css: {has_error: a1Error()}" type="text" class="text-center" placeholder="18" />
                </div>
                <div class="mid_label small-9 medium-2 columns text-center">
                  <label for="a2" class="inline">until age</label>
                </div>
                <div class="small-3 medium-1 end columns">
                  <input id="a2" data-bind="value: a2, css: {has_error: a2Error()" type="text" class="text-center" placeholder="24" />
                </div>
              </div>
              <div class="row">
                <div class="small-9 medium-4 columns">
                  <label for="p1" class="inline right">Potential partners met per year</label>
                  <small data-bind="text: ppErrorText, style: {opacity: p1Error() ? 1: 0}" class="error"></small>
                </div>
                <div class="small-3 medium-1 columns">
                  <input id="p1" data-bind="value: p1, css: {has_error: p1Error()" type="text" class="text-center" placeholder="0" />
                </div>
                <div class="mid_label small-9 medium-2 columns text-center">
                  <label for="p2" class="inline">to</label>
                  <small data-bind="text: ppErrorText, style: {opacity: p2Error() ? 1: 0}" class="error"></small>
                </div>
                <div class="small-3 medium-1 end columns">
                  <input id="p2" data-bind="value: p2, css: {has_error: p2Error()" type="text" class="text-center" placeholder="8" />
                </div>
              </div>
              <div class="row">
                <div class="small-7 medium-4 columns">
                  <label for="l" class="inline right">Experiment on</label>
                  <small data-bind="text: lifetimesErrorText, style: {opacity: lifetimesError() ? 1: 0}" class="error"></small>
                </div>
                <div class="small-3 medium-2 columns">
                  <input id="l" data-bind="value: lifetimes, css: {has_error: lifetimesError()" type="text" class="text-center" placeholder="10000" />
                </div>
                <div class="small-2 medium-1 end columns">
                  <label class="inline">lifetimes.</label>
                </div>
              </div>
              <div class="row">
                <div class="small-only-right small-8 medium-3 medium-offset-7 columns">
                  <button data-bind="enable: validated" class="expand">Generate</button>
                </div>
                <div class="small-4 medium-2 columns">
                  <button data-bind="click: $root.viewSimulationAnalysis, enable: $root.Experiment.processed" class="expand secondary">Back</button>
                </div>
              </div>
            </form>
            <div id="generate-now_loading_bg" class="generate-now_loading_bg"></div>
            <div id="generate-now_loading" class="generate-now_loading">Now Loading...</div>
          </article>

          <!-- Generated Dataset -->
          <article id="main_viz-generated" data-bind="with: Experiment" class="main_viz_panel main_viz-generated">
            <h4 class="small-only-text-center">View Generated Dataset</h4>
            <div class="row">
              <div class="small-12 columns">
                <button data-bind="click: $parent.viewSimulationAnalysis, enable: processed" class="right tiny">Back to Data Analysis</button>
                <p>Number of lifetimes: <span id="generated-lifetimes" data-bind="text: lifetimes">10,000</span></p>
                <p id="generated-dating_period">Dating period from age <span id="generated-agestart" data-bind="text: a1">18</span> to <span id="generated-ageend" data-bind="text: a2">24</span></p>
                <p id="generated-potential_partners">Number of potential partners per year: <span data-bind="text: p1">0</span> to <span id="generated-p2" data-bind="text: p2">8</span></p>
                <div id="generated-plot_area"></div>
              </div>
            </div>
            <div class="row">
              <div class="right small-12 medium-3 columns">
                <button data-bind="click: $parent.viewSimulationAnalysis, enable: processed" class="expand">Data Analysis</button>
              </div>
              <div class="left small-12 medium-4 columns">
                <button data-bind="click: $parent.viewGenerateDataset" class="expand secondary">Generate Another Dataset</button>
              </div>
            </div>
          </article>

          <!-- Detail -->
          <article id="main_viz-detail" data-bind="with: CurrentDetail" class="main_viz-detail">
            <div class="main_viz_panel">
              <h4>Simulating Single Lifetimes</h4>
              <div class="row">
                <div class="small-4 medium-3 column">
                  <label id="detail-lifetime_label" for="detail-l" class="inline right">Lifetime #:</label>
                </div>
                <div class="small-4 medium-2 column">
                  <input data-bind="value: displayedLifetime" id="detail-l" type="text" value="8754" />
                  <div data-bind="click: showLifetimeSlider" class="arrows_button">
                    <div class="arrow_up"></div>
                    <div class="arrow_down"></div>
                  </div>
                </div>
                <div class="small-4 end column">
                  <a data-bind="click: $root.viewSimulationAnalysis" href="#" class="right">Back to Analysis</a>
                  <button data-bind="click: nextRandomLifetime" class="tiny">next random</button>
                </div>
              </div>
              <div class="row">
                <div class="small-4 medium-3 column">
                  <label for="detail-rp" class="inline right">Rejection Phase:</label>
                </div>
                <div class="small-4 medium-2 column">
                  <input data-bind="value: rejection_phase" id="detail-rp" type="text" value="" />
                  <div data-bind="click: showPhaseSlider" class="arrows_button">
                    <div class="arrow_up"></div>
                    <div class="arrow_down"></div>
                  </div>
                </div>
                <div class="small-4 end column">
                </div>
              </div>
              <div class="row">
                <div class="small-4 medium-3 column">
                  <label class="inline right">Total Candidates:</label>
                </div>
                <div class="small-4 medium-2 end column">
                  <label data-bind="text: total_candidates" class="inline"></label>
                </div>
              </div>
              <div class="row">
                <div class="small-4 medium-3 column">
                  <div class="goal_section goal_labels">
                    <label for="" class="inline right small-only-text-left">Goals:</label>
                    <div class="goal_success_rate">Success Rates:</div>
                  </div>
                </div>
                <div id="goals" class="small-12 medium-9 column" data-bind="foreach: goals">
                  <div class="goal_section" data-bind="css: idClass">
                    <button data-bind="text: name, css: getClassAndActiveStatus, click: setActive" class="tiny">Top 1</button>
                    <div data-bind="text: success_rate_percent" class="goal_success_rate">37%</div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="small-12 column">
                  <div id="detail-plot_area"></div>
                </div>
              </div>
            </div>
          </article>
        </div>
      </div>
    </article>
    <article class="row">
      <div class="small-12 columns">
        <h2>Final Note</h2>
        <p>
          Apart from the Mathematics, I hope nobody takes too seriously the idea proposed in this project. While the numbers made sense, this strategy made much assumptions about how love works. For one, the fact that compatibility score does actually gets higher the longer you are together, thus ending up with even a suboptimal person early might be better than waiting too long for the prince/ss charming.
        </p>
        <p>
          Note also that the simulation method here can be used in other fields with similar problems. Also known as <b>Monte Carlo Analysis</b>, this kind of simulation combined with other strategies such as genetic algorithm is often used in decision making in finance related sector.
        </p>
        <p>
          With this project I hope I have demonstrated how the principles in Mathematics can be used, not necessarily in a too abstract fashion, in building a workable model of the real world and derive a strategy from it.
        </p>
        <div class="panel callout radius">
          Did you enjoy (or despise) this article? Please do share your thoughts by <a href="http://goo.gl/forms/5X3hO6CGFl" target="_blank" rel="nofollow" >answering some questions in this form</a> and I will be forever thankful. 
        </div>
      </div>
    </article>
    <div class="row footer text-center">
      <p>This project was built for my final submission in <a href="http://udacity.com" target="_blank" rel="nofollow">Udacity.com</a>.<br />If you are looking to build a project with similar complexities they have the best resources to learn from.</p>
      <hr />
      <div class="trademark">
        <a href="http://teguhwijaya.com" target="_blank">Jay Teguh Wijaya</a> - 2015
      </div>
    </div>
    <script src="{{ url_for('static', filename='js/data.js') }}"></script>
    <script src="{{ url_for('static', filename='js/introViz.js') }}"></script>
    <script src="{{ url_for('static', filename='js/generatedViz.js') }}"></script>
    <script src="{{ url_for('static', filename='js/mainViz.js') }}"></script>
    <script src="{{ url_for('static', filename='js/detailVizHelpers.js') }}"></script>
    <script src="{{ url_for('static', filename='js/detailViz.js') }}"></script>
    <script src="{{ url_for('static', filename='js/simulationAnalysis.js') }}"></script>
    <script src="{{ url_for('static', filename='js/detail.js') }}"></script>
    <script src="{{ url_for('static', filename='js/generate.js') }}"></script>
    <script src="{{ url_for('static', filename='js/generated.js') }}"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    <script src="{{ url_for('static', filename='js/tour.js') }}"></script>
    <script src="{{ url_for('static', filename='js/images.js') }}"></script>
  </body>
</html>