<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}" />
    <!--
    No need to load what we don't use.
    <script src="{{ url_for('static', filename='bower_components/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/foundation/js/foundation.min.js') }}"></script>
    -->
    <script src="{{ url_for('static', filename='bower_components/knockout/dist/knockout.debug.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/d3/d3.js') }}"></script>
    <script src="{{ url_for('static', filename='js/d3-slider/d3.slider.js') }}"></script>
  </head>
  <body>
    <header class="row">
      <div class="small-12 columns">
        <h1>When is The Right Time to Settle Down?</h1>
        <h4 class="subheader">Proving 37% Rule + Visual Explanation of Optimal Stopping Theory</h4>
        <p>
          In finding the right partner for the rest of your life, you don't want to keep rejecting the next suitor and risk not finding anyone. On the other hand, "cashing in" to quick may end you up in a suboptimal relationship.
        </p>
        <p>
          What is, then, the right strategy to reject / accept next potential partners with the highest probability to get us the right person with the less risk of failure? Turns out, there's a strategy called <b>the 37% rule</b> where if you reject all 37% of the candidates you met, then accept the next candidate who is better than everybody you rejected, you are most likely to end with the best candidate out of everyone (this problem is called the secretary problem</a> and was well discussed back then).
        </p>
        <p>I got introduced into this idea from the book by <b>Hannah Fry</b> called <a target="_blank" href="https://www.ted.com/read/ted-books/ted-books-library/the-mathematics-of-love">The Mathematics of Love</a>. There are several other interesting insights there, where she framed the very abstract concept of love in the verbosity of Mathematics.
        </p>
        <p>
          For me, what interest me the most is proving this theory using programming. I reproduced the experiment shown in that book where a number of lifetimes with different number of people met and with different compatibilities are simulated, then tried to follow <b>X% rejection strategy</b> to find out what the best <b>X</b> is. 
        </p>
      </div>
    </header>
    <article class="row">
      <div class="small-12 columns">
        <h2>Why 37% ?</h2>
        <p>
          As it turned out, this problem is similar to one of the problems learned in Mathematics called <a target="_blank" href="https://en.wikipedia.org/wiki/Secretary_problem">The secretary problem</a>. The secretary problem is one of many names for a famous problem of the <b>optimal stopping theory</b>. The problem has been studied extensively in the fields of applied probability, statistics, and decision theory.</p>
        <p>The basic form of the problem is the following:</p>
        <ul>
          <li>Imagine an administrator willing to hire the best secretary out of n rankable applicants for a position.</li>
          <li>The applicants are interviewed one by one in random order.</li>
          <li>A decision about each particular applicant is to be made immediately after the interview.</li>
          <li>Once rejected, an applicant cannot be recalled.</li>
          <li>During the interview, the administrator can rank the applicant among all applicants interviewed so far, but is unaware of the quality of yet unseen applicants.</li>
          <li>The decision must be made immediately.</li>
        </ul>
        <p>And to solve this problem, as quoted from <a target="_blank" href="https://en.wikipedia.org/wiki/Secretary_problem">Wikipedia</a>:</p>
        <blockquote>
          <p>The problem has an elegant solution. The optimal stopping rule prescribes always <strong>rejecting the first n/e applicants</strong> after the interview (where e is the base of the natural logarithm) and then <strong>stopping at the first applicant who is better than every applicant interviewed so far</strong> (or continuing to the last applicant if this never occurs). Sometimes this strategy is called the <strong>1/e stopping rule</strong>, because the probability of stopping at the best applicant with this strategy is about <strong>1/e</strong> already for moderate values of <strong>n</strong>.</p>
        </blockquote>
        <p><b>So where did 37% come from?</b> The answer lies in this sentence:</p>
        <blockquote>
        because the probability of stopping at the best applicant with this strategy is about 1/e already for moderate values of n.
        </blockquote>
        <p><i>e</i> is the transcendental number that is the base of Napierian or natural logarithms, approximately equal to <b>2.71828</b>. Thus:</p>
        <pre>
1/e = 1/2.71828
    = 0.3679</pre>
        <p>And <i>that's where <b>37%</b> comes from.</i></p>

        <h2>The mathematics behind 37% rule</h2>

        <p>The formula for <b>Optimal Stopping</b> is relatively simple:</p>
        <p><img src="{{ url_for('static', filename='images/formula.png') }}" alt="Optimal Stopping formula"></p>
        <p>Where:<p>
        <ul>
          <li>P(r) = Chance that we can find optimal candidate when we rejected r number of candidates.</li>
          <li>n = Number of candidates</li>
          <li>r = Rejected candidates</li>
        </ul>
        <p>For example: With 10 candidates and stopping time at 5th person,</p>
        <div class="row">
          <div class="small-12 medium-7 columns end">
        <pre>
P(5) = 4/10 * (1/4 + 1/5 + 1/6 + 1/7 + 1/8 + 1/9)
     = 0.398</pre>
          </div>
        </div>

        <p>or <b>39.8%</b> chance that we will find best candidate if we follow the strategy.</p>
        <p>From that formula, the optimal value of r can be approximated as <b>1/e</b>. Being able to find That is actually a perk of being good at calculus, which I'm not. In my case, then, instead of proving it mathematically (which you can find in Wikipedia) the only way to prove it is to program it by plotting a scenario of, say, 100 candidates with several stopping times, to see where the largest <b>P(r)</b> is:</p>
        <div id="intro_viz"></div>
        <p>From the above plot it's clear that the optimal value is located around the 37%-ish.</p>

        <h2>Simulating over different goals</h2>
        <p>
          Now, this strategy may not always end you up with the most perfect candidates, but should you be too unhappy about it? What if you are happy enough with finding the top 10% or 15% of all possible candidates? Below we see how your success rate is affected by relaxing your requirements.
        </p>
        <p>
          In this simulation, we are going to test our success probabilities of finding the right partner given that we can retry our life 10,000 times, each with different number of partners met each lifetime. You can view and compare each strategy by hovering over the curve. You can also examine generated dataset. Once you know how everything works, you can play around by generating your own simulation by entering your own plan i.e. from what age to what age are you going to search for partners and how many partners are you likely going to end up each year (I suggest that you compare it with your own history). Have fun!
        </p>
        <div class="main_viz text-center" id="main_viz">
          <button data-bind="btn-start">Start The Simulation</button>
        </div>
        <script type="text/html" id="main_viz-main"></script>
        <script type="text/html" id="main_viz-generate">
          <div class="main_viz-generate">
            <form>
              <div class="row">
                <article class="small-12 columns">
                  <h1 class="small-only-text-center">Generate Dataset</h1>
                </article>
              </div>
              <div class="row">
                <div class="small-9 medium-4 columns">
                  <label for="a1" class="inline right">Start dating from age</label>
                </div>
                <div class="small-3 medium-1 columns">
                  <input id="a1" type="text" class="text-center" placeholder="18" />
                </div>
                <div class="mid_label small-9 medium-2 columns text-center">
                  <label for="a2" class="inline">until age</label>
                </div>
                <div class="small-3 medium-1 end columns">
                  <input id="a2" type="text" class="text-center" placeholder="24" />
                </div>
              </div>
              <div class="row">
                <div class="small-9 medium-4 columns">
                  <label for="p1" class="inline right">Potential partners met per year</label>
                </div>
                <div class="small-3 medium-1 columns">
                  <input id="p1" type="text" class="text-center" placeholder="0" />
                </div>
                <div class="mid_label small-9 medium-2 columns text-center">
                  <label for="p2" class="inline">to</label>
                </div>
                <div class="small-3 medium-1 end columns">
                  <input id="p2" type="text" class="text-center" placeholder="8" />
                </div>
              </div>
              <div class="row">
                <div class="small-7 medium-4 columns">
                  <label for="l" class="inline right">Experiment on</label>
                </div>
                <div class="small-3 medium-2 columns">
                  <input id="l" type="text" class="text-center" placeholder="10000" />
                </div>
                <div class="small-2 medium-1 end columns">
                  <label class="inline">lifetimes.</label>
                </div>
              </div>
              <div class="row">
                <div class="small-only-right small-8 medium-3 medium-offset-7 columns">
                  <button data-bind="click: generateDataset" class="expand">Generate</button>
                </div>
                <div class="small-4 medium-2 columns">
                  <button data-bind="click: viewDataAnalysis" class="expand secondary">Back</button>
                </div>
              </div>
            </form>
          </div>
        </script>
        <script type="text/html" id="main_viz-view_generated">
          <article class="main_viz-view_generated">
            <div class="row">
              <div class="small-12 columns">
                <h1 class="small-only-text-center">View Generated Data</h1>
              </div>
            </div>
            <div class="row">
              <div class="small-12 columns">
                <button data-bind="click: viewDataAnalysis" class="right tiny">Back to Data Analysis</button>
                <p>Number of lifetimes: <span data-bind="text: l">10,000</span></p>
                <p>Dating period from age <span data-bind="text: a1">18</span> to <span data-bind="text: a2">24</span></p>
                <p>Number of potential partners per year: <span data-bind="text: p1">0</span> to <span data-bind="text: p2">8</span></p>
                <h2>Some Stats</h2>
                <div id="candidates_distribution_plot"></div>
                <div id="compatibilities_distribution_plot"></div>
              </div>
            </div>
            <div class="row">
              <div class="right small-12 medium-3 columns">
                <button data-bind="click: viewDataAnalysis" class="expand">Data Analysis</button>
              </div>
              <div class="left small-12 medium-4 columns">
                <button data-bind="click: viewGenerateDataset" class="expand secondary">Generate Another Dataset</button>
              </div>
            </div>
          </article>
        </script>
        <script type="text/html" id="main_viz-detail"></script>
        <article class="main_viz-detail">
          <div class="row">
            <div class="small-12 column">
              <h1>View Details</h1>
            </div>
          </div>
          <div class="row">
            <div class="small-4 medium-3 column">
              <label for="detail-rp" class="inline right">Rejection Phase:</label>
            </div>
            <div class="small-4 medium-2 column">
              <input data-bind="value: detailRejectionPhase" id="detail-rp" type="text" value="" />
              <div data-bind="click: showPhaseSlider" class="arrows_button">
                <div class="arrow_up"></div>
                <div class="arrow_down"></div>
              </div>
            </div>
            <div class="small-4 end column">
              <label class="inline">of all cases.</label>
            </div>
          </div>
          <div class="row">
            <div class="small-4 medium-3 column">
              <label for="detail-l" class="inline right">Lifetime #:</label>
            </div>
            <div class="small-4 medium-2 column">
              <input data-bind="value: detailLifetime" id="detail-l" type="text" value="8754" />
              <div data-bind="click: showLifetimeSlider" class="arrows_button">
                <div class="arrow_up"></div>
                <div class="arrow_down"></div>
              </div>
            </div>
            <div class="small-4 end column">
              <button class="tiny">next random</button>
            </div>
          </div>
          <div class="row">
            <div class="small-4 medium-3 column">
              <label for="" class="inline right">Goals:</label>
            </div>
            <div class="small-12 medium-9 column" data-bind="foreach: goals">
              <button data-bind="text: name, css: getClass" class="tiny">Top 1</button>
            </div>
          </div>
        </article>
        <div class="main_viz-main">
          
        </div>
      </div>
    </article>
    <script src="{{ url_for('static', filename='js/data.js') }}"></script>
    <script src="{{ url_for('static', filename='js/intro_viz.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main_viz.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dataAnalysis.js') }}"></script>
    <script src="{{ url_for('static', filename='js/detail.js') }}"></script>
    <script src="{{ url_for('static', filename='js/generate.js') }}"></script>
    <script src="{{ url_for('static', filename='js/generated.js') }}"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
  </body>
</html>