.arrows_button {
  top: -25px;
  position: relative;
  cursor: pointer;

  div {
    position: relative;
    cursor: pointer;
  }
  div:before {
    left: 90%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
  }

  .arrow_up:before {
    border-color: rgba(136, 183, 213, 0);
    border-bottom-color: #88b7d5;
    border-width: 10px;
    margin-left: -10px;
    top: -30px;
  }

  .arrow_down:before {
    border-color: rgba(136, 183, 213, 0);
    border-top-color: #88b7d5;
    border-width: 10px;
    margin-left: -10px;
    top: -8px;
  }
}
