@mixin color($classname, $color) {
  .#{$classname} {
    background-color: $color;
    stroke: $color !important;
    &.datum-circle {
      fill: $color !important;
    }
  }
  .#{$classname}_is_active {
    background-color: $color;
    border: 4px solid $yellow !important;
  }
}

@include color(color1, $primary-color);
@include color(color2, $alert-color);
@include color(color3, $success-color);
@include color(color4, $warning-color);
@include color(color5, $sea);
@include color(color6, $maroon);
@include color(color7, $orange);
@include color(color8, $crimson);
@include color(color9, $strawberry);
@include color(color10, $purple);
@include color(color-theory, #000000);


// Other scss
.main_viz {
  min-height: 500px;
  > article {
    display: none;
  }
  .is_active {
    display: block;
  }
}
.main_viz_panel {
  border: 1px solid $smoke;
  border-radius: 2px;
  padding: 20px;
}

.chart {
  .plot_title {
    font-weight: bold;
  }

  .axis, .x-label {
    font-family: arial;
    font-size: 0.6em;
    stroke: #000000;
  }

  .x2-label {
    stroke: #000000;
  }

  .axis {
    fill: none;
    stroke: $steel;
    stroke-width: 1px;
  }

  .path-intro {
    stroke: green;
    fill: none;
  }

  .tick {
    fill: none;
    stroke: black;
  }

  circle {
    opacity: 0.5;
    stroke: none;
  }

  rect {
    fill: $sea;
    transition: fill .4s ease;
    &.focus {
      fill: $maroon;
      // from {fill: $sea;}
      // to {fill: $maroon;}
    }
  }

  .line_plot {
    fill: none;
    stroke: #4eb0bb;
    stroke-width: 1px;
  }  
}

.main_viz-generate {
  input[type=text] {
    min-width: 40px;
  }
  .mid_label {
    max-width: 90px;
    &.small-9 {
      text-align: right !important;
      max-width: none !important;
    }
  }
}


.main_viz-simulation_analysis {
  .goal_box {
    padding: 10px;
    float: left;
  }
  .simulation_analysis-top {
    background-color: $white;
    border-bottom: 1px solid $smoke;
    margin-bottom: 20px;

    button, input, select {
      margin-bottom: 10px;
      margin-top: 8px !important;
    }
    button{
      line-height: 3px;
    }
    input, select {
      float: left;
      height: 24px;
    }
    input {
      width: 40px;
      margin-right: 10px;
    }
    select {
      width: 100px;
      padding: 0;
    }
    .cancel {
      width: 20px;
      display: block;
      float: left;
      margin: 10px 0 0 10px;
      &:link, &:visited, &:active {
        color: $gainsboro;
      }
      &:hover {
        color: $charcoal;
      }
    }
    .hidden_inputs {
      width: 0px;
      float: left;
      margin-right: 10px;
      overflow: hidden;
      > div {
        width: 180px;
      }
    }

    .goals {
      margin-top: 10px;
      float: left;
      .goal_text {
        float: left;
        padding: 2px 12px 2px 5px;
        font-size: $small-font-size;
      }
    }  
    .add_goal_area {
      float: left;
    }

  }
  .simulation_analysis-content {
    position: relative;
  }
  .sa_plot {
    .datum-circle {
      opacity: 0.8;
    }
    path {
      stroke-width: 2px;
    }

    .color-theory {
      stroke-width: 3px !important;
    }
  }
  .tooltip {
    width: 215px;
    .goal_box {
      margin: 3px 5px 0 0;
    }
    a:link, a:visited, a:active {
      color: white;
    }
    ul {
      list-style: none;
      margin-left: 0;
      margin-bottom: 5px;
      li {
        .goal-name {
          width: 100px;
          display: inline-block;
        }
        .sa-rejection_phase {
          display: inline-block;
          width: 125px;
        }
        .goal-value {

        }
      }
    }
    .bottom_area {
      padding: 10px;
      text-align: center;
      button {
        margin-bottom: 0;
      }
    }
  }
}

.main_viz-detail {
  .goal_section {
    text-align: center;
    float: left;
    margin-right: 5px;
    &.goal_labels {
      float: right !important;
    }
    button {
      border: 4px solid white;
    }
    .goal_success_rate {
      font-size: $small-font-size;
    }
  }
  .x2 {
    fill: #DDD;
  }
  label, input, button {
    margin-bottom: 0;
  }
  g.r_phase {
    text {
      stroke: none;
      fill: white;
      font-size: $h4-font-size;
    }
    rect {
      fill: $orange;
    }
  }
}

// Assorted classes
@media #{$small-only} {
  .small-only-right {
    float: right !important;
  }  
}

.small-margin-right {
  margin-right: 5px;
}