// Colors
.color1 {
  background-color: $primary-color;
  stroke: $primary-color !important;
  &.datum-circle {
    fill: $primary-color !important;
  }
}
.color1_is_active {
  background-color: $primary-color;
  border: 4px solid $yellow;
}
.color2 {
  background-color: $alert-color;
  stroke: $alert-color !important;
  &.datum-circle {
    fill: $alert-color !important;
  }
}
.color2_is_active {
  background-color: $alert-color;
  border: 4px solid $yellow;
}
.color3 {
  background-color: $success-color;
  stroke: $success-color !important;
  &.datum-circle {
    fill: $success-color !important;
  }
}
.color3_is_active {
  background-color: $success-color;
  border: 4px solid $yellow;
}
.color4 {
  background-color: $warning-color;
  stroke: $warning-color !important;
  &.datum-circle {
    fill: $warning-color !important;
  }
}
.color4_is_active {
  background-color: $warning-color;
  border: 4px solid $yellow;
}

.color-theory {
  background-color: #000000;
  stroke: #000000 !important;
  &.datum-circle {
    fill: #000000 !important;
  }
}
.color-theory_is_active {
  background-color: #000000;
  border: 4px solid $yellow;
}


// Other scss
.main_viz {
  min-height: 500px;
  > article {
    display: none;
  }
  .is_active {
    display: block;
  }
}
.main_viz_panel {
  border: 1px solid $smoke;
  border-radius: 2px;
  padding: 20px;
}

.chart {
  .plot_title {
    font-weight: bold;
  }

  .axis, .x-label {
    font-family: arial;
    font-size: 0.6em;
    stroke: #000000;
  }

  .x2-label {
    stroke: #000000;
  }

  path {
    fill: none;
    stroke: $steel;
    stroke-width: 1px;
  }

  .path-intro {
    stroke: green;
  }

  .tick {
    fill: none;
    stroke: black;
  }

  circle {
    opacity: 0.5;
    stroke: none;
  }

  rect {
    fill: $sea;
    &.focus {
      fill: $maroon;
    }
  }

  .line_plot {
    fill: none;
    stroke: #4eb0bb;
    stroke-width: 1px;
  }  
}

.main_viz-generate {
  input[type=text] {
    min-width: 40px;
  }
  .mid_label {
    max-width: 90px;
    &.small-9 {
      text-align: right !important;
      max-width: none !important;
    }
  }
}


.main_viz-simulation_analysis {
  .goal_box {
    padding: 10px;
    float: left;
  }
  .simulation_analysis-top {
    background-color: $white;
    border-bottom: 1px solid $smoke;
    margin-bottom: 20px;

    button {
      margin-bottom: 10px;
      line-height: 3px;
      margin-top: 8px !important;
    }

    .goals {
      margin-top: 10px;
      float: left;
      .goal_text {
        float: left;
        padding: 2px 12px 2px 5px;
        font-size: $small-font-size;
      }
    }  
    .add_goal {
      margin-top: 3px;
    }

  }
  .simulation_analysis-content {
    position: relative;
  }
  .sa_plot {
    .datum-circle {
      opacity: 0.8;
    }
    path {
      stroke-width: 2px;
    }

    .color-theory {
      stroke-width: 3px !important;
    }
  }
  .tooltip {
    width: 215px;
    .goal_box {
      margin: 3px 5px 0 0;
    }
    a:link, a:visited, a:active {
      color: white;
    }
    ul {
      list-style: none;
      margin-left: 0;
      margin-bottom: 5px;
      li {
        .goal-name {
          width: 100px;
          display: inline-block;
        }
        .goal-value {

        }
      }
    }
    .bottom_area {
      padding: 10px;
      text-align: center;
      button {
        margin-bottom: 0;
      }
    }
  }
}

.main_viz-detail {
  .x2 {
    fill: #DDD;
  }
  label, input, button {
    margin-bottom: 0;
  }
}

// Assorted classes
@media #{$small-only} {
  .small-only-right {
    float: right !important;
  }  
}

.small-margin-right {
  margin-right: 5px;
}